body {
    border: 1px solid black;
    background-color: rgb(58, 120, 173);
    padding: 10px;
    width: 50%;
}

a {
    display: inline-block;
    border: 1px solid black;
    padding: 8px;
    text-decoration: none;
    color: azure;
    font-size: 20px;
}

a:hover {
    background-color: beige;
    color: aqua;
}

h1 {
    border: 1px solid black;
    padding: 8px;
    font-size: 25px;
    color: azure;
}

img {
    border: 1px solid black;
    width: 300px;
}

h3 {
    border: 1px solid black;
    padding: 8px;
    color: azure;
    margin-bottom: 0px;
}

p {
    border: 1px solid black;
    padding: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 0px;

}

ul, ol {
    border: 1px solid black;
    padding: 8px;
    margin-top: 0px;
}

li {
    border: 1px solid black;
    list-style-type: none;
    padding: 8px;
    margin-bottom: 8px;
}



