body {
    border: 2px solid black;
    background-color: beige;
    padding: 8px;
    width: 50%;
    margin: 0 auto;
    margin-top: 10%;
}

h1 {
    border: 2px solid black;
    text-align: center;
    background-color: coral;
    padding: 5px;
    font-size: 40px;
    color: rgb(16, 119, 104);
    margin-bottom: 0px;
}

ul {
    border: 2px solid black;
    padding-left: 1px;
}

li {
    border: 2px solid black;
    padding: 5px;
    list-style-type: none;
    margin: 5px;
}

a {
    text-decoration: none;
    color: darkgray;
    font-size: 25px;
}

li a:hover {
    color: aqua;
}